<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="setup" connectionString="Data Source=localhost:1521;Password=Pa$$word;User ID=system;"
      providerName="Oracle.DataAccess.Client" />
    <add name="user1" connectionString="Data Source=localhost:1521;Password=Usr_2011#_Xls4168;User ID=SAMPLE07_USER1;"
      providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
</configuration>
